html, body {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/*----------------------------------------------------------- navigateur -----------------------------------------------------------*/
.navbar {
    background-color: #333334;
	height: 120px;
}

.navbar-brand {
    color: #605F64;
    cursor: pointer;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 15px;
}
.navbar-brand:hover {
    color: ##A4071F;
    text-decoration: none;
}
.nav-link {
    color: #fff;
    cursor: pointer;
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #A4071F;
    text-decoration: none;
}
.navbar-collapse {
justify-content: flex-end;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

/*------------------------------------------------------------- footer -----------------------------------------------------------------*/


.footer-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.footer-link {
    color: #fff;
    cursor: pointer;
    font-size: 10px;
}
.footer-link:hover {
    color: #A4071F;
    text-decoration: none;
    font-size: 10px;
}
.page-footer {
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: #292929;
    color: #fff;
    text-align: center;
    padding-bottom: 0px;
}
.footer-copyright {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0px;
}
.vertical-line {
    border-left: 2px solid #fff;
    height: 60px;
}
.page-footer .container {
    padding-top: 15px;
    padding-bottom: 0px;
}

.container-fluid {
	padding: 100px;
}

/*--------------------------------------------------------------- main ----------------------------------------------------------------*/
.container-fluid {
	padding: 100px;
}
.title {
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #fff;
}
.container {
    padding: 10px;
}
.text  {
	padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 20px;
    text-align: center;
	font-size: 11px;
	padding-bottom: 0px;
}
.liste {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #fff;
}
.liste2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fff;
}
.col-sm-3 {
    align-content: center;
}

.link {
    color: #fff;
    cursor: pointer;
}
.link:hover {
    color: #b3b3b3;
    text-decoration: none;
}

h2{
	color: #fff;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

h5{
	color: #A4071F;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	padding-bottom: 0px;
}

/*------------------------------------------------------------- Carousel -------------------------------------------------------------*/


.carousel-container {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.carousel {
    width: 75%;
    max-width: 800px;
    background-color: #000;
}

.carousel-inner {
    padding-top: 50px;
	padding-bottom: 50px;
}

.carousel-caption {
    font-size: 12px;
	padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 20px;
    text-align: center;
	font-size: 11px;
	padding-bottom: 0px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #A4071F;
    
	top: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
	
}

.carousel-control-prev{
left: -70px;
}

.carousel-control-next{
right: -70px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.carousel-control-prev::after,
.carousel-control-next::after {
    color: white;
    font-size: 20px;
}

.carousel-control-prev::after{
    content: '<';
}

.carousel-control-next::after {
    content: '>';
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #A4071F;
    color: #fff;
}

.carousel-indicators button {
    width: 5px; 
	height: 5px; 
    background-color: #fff;
    border: none; 
    margin: 0 4px; 
}

.carousel-indicators .active {
    background-color: #A4071F; 
}


/*---------------------------------------------------------- rechercher-----------------------------------------------------------*/


.search-box {
	position:relative;
    width: 700px;
	text-align: center;
    margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 100px;
    background:  #A4071F;
    height: 60px;
    border-radius: 40px;
    display: flex;

}

.search-box:hover > .search-txt {
    width: 340px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: #605F64;
    color: #A4071F;
}

.search-txt {
	margin-left: 20px;
	margin-top: 50px;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    width: 0px;
    font-weight: bold;
    flex-grow: 1;
}

.search-btn {
    color: #605F64;
    width: 30px;
    height: 60px;
    border-radius: 40%;
    background: #A4071F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
	margin-left: 20px;
	margin-right: -5px;
}

.search-btn > i {
    font-size: 20px;
}


.carousel-indicators button:hover {
    background-color: rgba(164, 7, 31, 0.5); 
}

/*---------------------------------------------------------- tout parcourir-----------------------------------------------------------*/

.container_menu {
    display: flex;
	flex-direction: column; 
    align-items: center; 
	margin-top: 20px;
	margin-bottom: 20px;
	gap:10px;
}

.container_menu img {
    width: 600px;
	height: 150px; 	
	margin-top: 10px;
	margin-bottom: 10px;
}



/*-------------------------------------------- activites sportives/ sports de competition---------------------------------------------*/

.row_menu {
    display: flex;
    gap: 20px;
}

.row_menu img {
    margin: 20px;
	width: 350px;
	height: 130px;
	margin-bottom: 20px
}

/*---------------------------------------------------------- salle de sport OMNES-----------------------------------------------------------*/
.salle {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fff;
}
.box {
    background-color: #000;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
	margin-left: 200px;
	position:relative;
    width: 700px;
    margin-top: 20px;
	margin-bottom: 20px;
    display: flex;
	border-radius: 10%;
}

.col-sm-6{
	margin-top: 15px;
    display: flex;
    gap: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

/*---------------------------------------------------------- Nos services-----------------------------------------------------------*/
.dropdown {
    position: relative;
    display: flex;
}
.btn_services {
	background-color: #A4071F;
	color:#fff;
}

.btn-contenu {
    display: none;
    position: absolute;
    background-color: #A4071F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-size: 20px;
    line-height: 20px;
}

.dropdown:hover .btn-contenu {
    display: block;
}

.dropdown-item {
    color:#A4071F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	background-color: #fff;
}

.dropdown-item:hover {
	color:#A4071F
}


/*--------------------------------------------------------------- horaires ---------------------------------------------------------------*/
table{
  border: 1px solid white;
  border-collapse: collapse;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 50px;
  width: 100%;
  margin-bottom: 70px;
  margin-top: 50px;
}

th, td {
    text-align: center;
    padding: 8px;
	color: #fff;
	border: 1px solid white;
	background-color:#000;
}

/*--------------------------------------------------------------- personnels ---------------------------------------------------------------*/
.td a {
    color: white;
 }
 
.td img {
    width: 20px;
    height: 20px;
}

/*-----------------------------------------------------------regles d'utilisation-----------------------------------------------------------*/
.box2 {
    background-color: #000;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
	margin-left: 200px;
	position:relative;
    width: 700px;
    margin-top: 20px;
	margin-bottom: 20px;
    display: flex;
	border-radius: 10%;
}

.box2 li {
    color: white;
	text-align:left;

}
.box2 p {
    color: white;
}
/*--------------------------------------------------------------- coach ---------------------------------------------------------------*/
.col-sm-9 {
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fff;
    text-align: justify;
}

.box3 {
    background-color: #000;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
	margin-left: 150px;
	position:relative;
    width: 900px;
    margin-top: 20px;
	margin-bottom: 20px;
    display: flex;
	border-radius: 5%;
}

.box3_contenu {
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #fff;
}

.contact_info{
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
	text-align:center;
}

.coach_contact {
    color: #fff;
    cursor: pointer;
}
.coach_contact:hover {
    color: #A4071F;
    text-decoration: none;
}

.coach_btn {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#A4071F;
    padding: 10px 10px;
}

.coach_btn:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
	color: #A4071F;
}

.ligne {
    width: 100%;
    border-radius: 5px;
    border-top: 1px solid white;
    height: 2px;
    background-color: white;
    margin-top: 30px;
}


.dispo {
    background-color: #333334;
    text-align: center;
}

.nodispo {
    background-color: #A4071F;
    text-align: center;
}

.btnrdv {
    color: #fff;
    text-align:center;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    background-color: #333334;
	margin-left: 150px;
}
.btnrdv:hover {
    color: #000;
    background-color: #b3b3b3;
    text-decoration: none;
}
.dropdown-item {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.dropdown-item:hover {
    background-color: #e4e4e4;
}

.rdv-bouton{
	margin-top: 20px;
    margin-bottom: 20px;
    background-color:#A4071F;
    padding: 10px 10px;
	text-align:center;
}

